.segmentWrapper {
  display: flex;
  align-items: baseline;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.segment {
  pointer-events: auto;
  display: inline;
  text-align: start;
  user-select: text;
  transition: background, color 150ms ease-out;
}

.segment__button:hover {
  cursor: pointer;
}

.segment--noMatches {
  cursor: text;
}

.segment--dark {
  color: black;
  filter: invert(1) hue-rotate(90deg);
}

.segment--parallel-hovered {
  background: var(--mui-palette-grey-700) !important;
  color: var(--mui-palette-common-white) !important;
}

.segment--active {
  background: var(--mui-palette-grey-700) !important;
  color: var(--mui-palette-common-white) !important;
}

.segmentNumber {
  pointer-events: auto;
}

.segmentNumber__link::before {
  content: attr(data-segmentnumber);
  font-size: 0.6rem;
  padding: 0.2em;
  margin-right: 1em;
}

.segmentNumber--selected {
  text-decoration: underline;
  font-weight: 900;
}

.segmentNumber--hidden {
  display: none;
}
