services:
  arangodb:
    image: arangodb:3.12.3
    #platform: linux/arm64/v8
    #platform: linux/amd64 # Use this instead if you want to use it on Intel macs or Linux
    container_name: "arangodb"
    env_file:
      - .env
    entrypoint: /entrypoint.sh
    command: --query.optimizer-rules "-splice-subqueries"
    volumes:
      - dbdata:/var/lib/arangodb3
    ports:
      - "8529:8529"
    restart: always

  dataloader:
    build:
      context: .
      dockerfile: ./setup/Dockerfile-dataloader
      platforms:
        - linux/amd64
        - linux/arm64/v8
    container_name: "dataloader"
    volumes:
      - .:/opt/buddhanexus
      - type: volume
        source: dharmanexus-data
        target: /data
      - type: bind
        source: $LOCAL_MATCHES_PATH
        target: /data/matches/
    env_file:
      - .env
    environment:
      - ARANGO_HOST=arangodb
    depends_on:
      - arangodb
    restart: always

  redis:
    image: redis:latest
    container_name: "redis"
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./api/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    ports:
      - "6379:6379"
    restart: always

  fastapi:
    build:
      context: .
      dockerfile: ./setup/Dockerfile-fastapi
      platforms:
        - linux/amd64
        - linux/arm64/v8
    container_name: "fastapi"
    volumes:
      - .:/opt/buddhanexus
      - ./logs:/logs
      - type: volume
        source: dharmanexus-data
        target: /data
    env_file:
      - .env
    environment:
      - PROD=0
      - BIND_ADDR=0.0.0.0
      - PORT=8000
      - REDIS_HOST=redis
      - ARANGO_HOST_API=arangodb
    ports:
      - "8000:8000"
    command: uvicorn --host 0.0.0.0 api.main:APP --reload
    restart: always
    depends_on:
      - arangodb
      - redis

  tests:
    build:
      context: .
      dockerfile: ./setup/Dockerfile-fastapi
      platforms:
        - linux/amd64
        - linux/arm64/v8
    container_name: "tests"
    volumes:
      - .:/opt/buddhanexus
      - type: volume
        source: dharmanexus-data
        target: /data
    env_file:
      - .env
    environment:
      - PROD=0
      - PYTHONPATH=/opt/buddhanexus
      - REDIS_HOST=redis
      - ARANGO_HOST_API=arangodb
      - ARANGO_HOST=arangodb
    command: pytest -v
    depends_on:
      - arangodb
      - redis

  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: dev.Dockerfile

    # Set environment variables directly in the docker-compose file
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NEXT_PUBLIC_DEPLOYMENT: ${NEXT_PUBLIC_DEPLOYMENT}
      HOST: "0.0.0.0"

    # Set environment variables based on the .env file
    env_file:
      - .env
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    ports:
      - "3000:3000"
    restart: always

volumes:
  dbdata:
  dharmanexus-data:
    external: true
  redis_data:

